html {
    margin: auto;
    padding: 5em;

    background-color: #D9D1BF;
    text-decoration: #2B2C2E;
}

/** NAV **/
nav {
    text-align: left;
    font: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover{
    text-decoration: underline #6D3973;
}

nav a :visited {
    text-decoration: none #2B2C2E;
}


/** HEADER **/
Header{
    font-size: 3em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

    width: 20em;
    height: 10em;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
}

/** IMG **/
img {
    display: flex;
    
    width: 100%;
    height: auto;
}

/** MAIN **/
main { 
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}

/** FOOTER **/
footer {
    font-size: 1em;
    text-align: right;
    
    width: auto;
    height: 2em;
}