* {
    box-sizing: border-box;
}

/* CSS DECLARATIONS*/
:root{
    --main: #ffffffde;
    --text: #161822;
    --header: #11131b;
    --subtitle: #363944;
    --title: #1d202e;
}

/*FONT DECLARATION*/


/* HTML */
html {
    scroll-behavior: smooth;

    justify-content: center;
    background-color: var(--main);
    margin: 0 auto;
    padding: 2em;
}

/* BODY */
body{
    margin: 0;
    padding: 0;

    width: 95%;
    height: auto;
}


/*NAV*/
nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0.5em 0;

    z-index: 100;
    background-color: var(--main);
}

nav img{
    height: 3em;
}

nav div{
   
    display: flex;
    gap: 0.5em;
    margin-left: none; 
    align-items: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  var(--text);
    font-size: 1.5em;
}

nav a{
    color: var(--text); 
    text-decoration: none;
    line-height: 2em;
}

nav a:hover{
    color: var(--subtitle);
    text-decoration: underline;
}

nav a :visited{
    color: var(--subtitle);
}


/* HEADER */
header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

header h1{
    color: var(--title);
    font-size: 4em;
}

header img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 1em;
    height: auto;
}


/* H2 */
h2{
    display: flex;
    justify-content: flex-end;

    font-weight: bold;
    color: var(--subtitle);
    font-size: 2.5em;
    width: 100%;
}


/* ARTICLE */
article{
    display: flex;
    flex-direction: column;

    gap: 1em;
}

article p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: justify;

    color: var(--text);
    font-size: 1.5em;
    line-height: 1.5em;
}


/* SECTION */
section{
    display: block;
    height: 100%;
}

section div{
    justify-content: space-evenly;
}


/* IMAGE */
section img{
    /* width: 100%;
    height: auto; */
    border-radius: 5px;
}


/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color:  var(--text);
    font-size: 1em;

    border-top: 1px solid var(--subtitle);
    margin-top: 4em;
}

footer p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--subtitle);
}

footer div{
    display: flex;
    justify-content: left;
    align-items: center;

    gap: 1em;
    font-size: 1.5em;
}

footer a{
    color: var(--subtitle);
    text-decoration: none;
}

footer a:hover{
    color: var(--title);
}
footer a :visited{
    color: var(--title);
}


/*CONTAINER*/
.sticky{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--main);
    height: 12vh;
}

.menu1{
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 0 1em;
}

.images{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: .5em;
    width: 100%;
    height: 50%;

    aspect-ratio: 1/1;
    overflow: hidden;
}

    /* grid*/
.im1{
    grid-column: 1/5;
    grid-row: 1/2;
}

.im2{
    grid-column: 6/8;
    grid-row: 1/2;
}

.im3{
    grid-column: 4/8;
    grid-row: 2/4;
}

.im4{
    grid-column: 1/4;
    grid-row: 2/3;
}

.im5{
    grid-column: 3/5;
    grid-row: 4/5;
}

.im6{
    grid-column: 1/3;
    grid-row: 3/4;
}

.im7{
    grid-column: 6/8;
    grid-row: 4/5;
}

.im8{
    grid-column: 5/6;
    grid-row: 1/2;
}

.im8{
    grid-column: 3/4;
    grid-row: 3/4;
}

.im9{
    grid-column: 1/2;
    grid-row: 4/5;
}

.im10{
    grid-column: 5/6;
    grid-row: 1/2;
}

.im11{
    grid-column: 2/3;
    grid-row: 4/5;
}

.im12{
    grid-column: 5/6;
    grid-row: 4/5;
}

.images figure{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.images img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform .3s ease, opacity .3s ease;
}

.hover-text{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: #11131b;
    padding: .5em;
    border-radius: 10px;
    color: var(--main);
    transition: opacity.3s ease;
}

.images figure:hover div.hover-text {
    display: block;
    opacity: 1;
    transition: opacity.3s ease;
    z-index: 1000;
}

.images figure:hover img{
    transform: scale(1.05);
    opacity: .9;
}


/* STORIES CONTAINERS*/
.header{
    display: flex;
    flex-direction: column;
    height: auto;

    font-size: .8em;
}

.stories-p{
    font-size: 1.2em;
    line-height: 2em;
    font-weight: normal;
}


/*  HAMBURGER MENU*/

button{
    border-width: 0px;
    background-color: var(--main);
}

.hamburger-menu{
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menu button{
    background: none;
    border: none;
    font-size: 2em;
    color: var(--main);
}

.hamburger-menu button .fa-bars{
    cursor: pointer;
}

.close-menu{
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 1024px){
    /*  HTML/BODY*/
    html{
        padding: 0;
    }

    body{
        width: 100%;
    }

    /*  NAV*/
    nav div img{
        width: 40vw;
        height: auto;
    }

    .sticky{
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: black;
    }

    
    nav{
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        line-height: 30px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 10000;
        color: var(--main);
    }

    /*  HAMBURGER MENU*/
    .menu1{
        display: none;
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: var(--header);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100000;
    }

    .menu1 a{
        font-size: 3em;
        padding: 1em;
        color: var(--main);
    }

    .menu1 a:hover{
        text-decoration: none;
        font-size: 5em;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    nav .menu1 a:hover{
        color: var(--subtitle);
        background-color: transparent;
    }

    .hamburger-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .menu-deployed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--header);
        z-index: 1000000;
        padding-top: 50px;
    }

    nav .close-menu{
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 5em;
        color: var(--main);
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10000;
    }

    /*  HEADER*/
    header{
        padding: 2em;
        height: 50vh;
    }

    /*  MAIN*/
    main{
        padding: 2em;
    }

    h2{
        font-size: 4em;
    }

    article{
        font-size: 2em;
    }

    /*  SECTION*/
    section img{
        width: 100%;
        height: auto;
    }

    .images{
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: .2em;
    }

    /* GRID*/
.im1{
    grid-column: 1/3;
    grid-row: 1/2;
}

.im2{
    grid-column: 4/6;
    grid-row: 1/2;
}

.im3{
    grid-column: 2/5;
    grid-row: 2/4;
}

.im4{
    grid-column: 1/2;
    grid-row: 2/3;
}

.im5{
    grid-column: 1/3;
    grid-row: 4/5;
}

.im6{
    grid-column: 1/2;
    grid-row: 3/4;
}

.im7{
    grid-column: 4/6;
    grid-row: 4/5;
}

.im8{
    grid-column: 3/4;
    grid-row: 1/2;
}

.im8{
    grid-column: 1/2;
    grid-row: 3/4;
}

.im9{
    grid-column: 5/6;
    grid-row: 3/4;
}

.im10{
    grid-column: 3/4;
    grid-row: 1/2;
}

.im11{
    grid-column: 5/6;
    grid-row: 2/3;
}

.im12{
    grid-column: 3/4;
    grid-row: 4/5;
}
 

    /*  FOOTER*/
    footer{
        gap: 1em;
        font-size: 2em;
        padding: 2em;
    }
}