/* ====================================== */
/* =====    GENERAL DECLARATION     ===== */
/* ====================================== */

* {
    box-sizing: border-box;
}

/* ===  CSS DECLRATIONS === */
:root{
    --bg: #98C1D5;
    --title: #2C6B91;
    --subtitle: #5796BA;
    --text: #0A2B3F;
    --accent: #8FB5CF;
}

/* === FONT DECLARATION === */
.gasoek-one-regular {
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* weight can go up to 700 */
.fredoka-one{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; 
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* === HTML === */
html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    justify-content: center;
    background: var(--bg);
    margin: 0;
    padding: 0;

    font-size: calc(1em + 0.390625vw);
}

/* === BODY === */
body{
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

/* === NAV === */
nav{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
    font-variation-settings: "wdth" 100;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;

    color: var(--title);
    text-decoration: none;
    line-height: 2.5em;
    border: none;

    opacity: 1;
    transition: opacity .5s ease, transform .5s ease;
}

nav a:hover{
    color: var(--text);
    text-decoration: none;
    opacity: .6;
    transform: scale(1.1);
}

nav a :visited{
    color: var(--subtitle);
    opacity: .5;
}

/* === HAMBURGER MENU CONTAINER === */
.menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    padding: 1em;
    background: var(--accent);
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 1s ease-in-out;

/* i don't know what i did here, but I can't remove thisx without messing up my menu */
    display: flex;
    justify-content: flex-start;
    
}

nav button{
    border-width: 0;
    color: var(--text);
}

.hamburger-menu{
    display: flex;
    align-items: center;
    justify-content: right;
}

nav .menu-deployed{
    display: block;
    z-index: 1000;

    transform: translateX(0);

    display: flex;
    align-items: flex-end;
}

.hamburger-menu button{
    display: block;
    background: none;
    border: none;
    padding: .5em;
    font-size: 1.5em;
    color: var(--title);
    z-index: 1000;
    transition: transform .5s ease;
}
.hamburger-menu button:hover{
    transform: scale(1.1)
}

.hamburger-menu button .fa-bars{
    cursor: pointer;
}

.close-menu{
    display: none;
}

nav .close-menu{
    display: flex;
    align-self: flex-end;

    font-size: 2em;
    color: var(--text);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;

    transition: transform .5s ease;
}

nav .close-menu:hover{
    transform: scale(1.1)    
}

/* === HEADER === */
header{
    width: auto;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

header h1{
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--title);
    font-size: 5em;
    margin: 0;
}

header h3{
    color: var(--text);
    font-size: 1em;
    text-align: justify;
    width: 60%;
    height: auto;
    padding-top: 1em; 
    margin: 0;
}

header div{
    height: auto;
    width: 100%;
    padding: 5em 0 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header button{
    width: 100%;
    height: auto;
    padding: 2em;
    background: var(--accent);
    border: .2em solid var(--subtitle);
    border-radius: 5em;
    cursor: pointer;

    transition: transform .5s ease;
}

header button:hover{
    transform: scale(1.1);
}

/* === MAIN === */
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-main{
    height: 15vh;
}


/* === FOOTER === */
footer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

footer p{
    font-size: .5em;
    text-align: center;
}

footer a{
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: var(--title);
    text-decoration: none;
    opacity: 1;
    cursor: pointer;

    transition: transform .5s ease,  opacity .5s ease-out;
}

footer a:hover{
    color: var(--text);
    opacity: .6;
    transform: scale(1.2);
}